html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f1ebeb;
}

* {
  user-select: none;
}

.title {
  font-weight: bolder;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 75%;
  list-style: none;
}

li {
  min-width: 300px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #fff;
  word-wrap: break-word;
}

.deleteBtn {
  float: right;
  border: none;
  background-color: transparent;
  color: red;
}

.modal-div {
  display: none;
  position: fixed;
  z-index: 1;
  left: 38%;
  top: 10%;
  border: 3px solid red;
  width: 300px;
  height: 120px;
  text-align: center;
  background-color: #fff;
}

.modal-text {
  color: red;
  margin-bottom: 8px;
}

.close-btn {
  background-color: red;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.input-box {
  text-align: center;
  padding: 5px 50px;
}

.btn {
  padding: 5px 50px;
  font-weight: bold;
  background-color: cadetblue;
  border-radius: 5px;
}

.btn:hover {
  background-color: #f1ebeb;
  border-color: rgb(1, 77, 1);
  color: rgb(1, 77, 1);
}
